<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">BHANDARI HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/create-medicine">Add Medicine</a>
          </li>
        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
          </li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
  <hr>
    <h2 style="text-align: center;margin-top: 20PX;">Medicines</h2>
    <a style="color: rgb(86, 86, 86); font-size: x-large;"><marquee behavior="scroll" direction="left">
      Welcome to Medicine Dashboard. Please find the medicine list below!!. Click Medicine to view and update medicine, Click Add Medicine to add new medicine</marquee></a>
  <hr>
    <a style="color: rgb(86, 86, 86); font-size: xx-large;">Current Medicine List </a>
  <div class="tableFixHead">
    <br>
 
<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Drug Name</th>
        <th>Stock</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr *ngFor="let medicine of medicines">
            <td>{{medicine.id}}</td>
            <td>{{medicine.drugName}}</td>
            <td>{{medicine.stock}}</td>
            <button class="btn btn-primary" (click)="update(medicine.id)">Update</button>
        </tr>
    </tbody>
</table>